html{
    box-sizing: border-box;
    margin:0;
    padding:0;

}
.page {
    display: grid;
    grid-template: 'header'
                    'main'
                    'footer';
     justify-content:center;
    align-items: center;
    row-gap: 20px;
    /* border: 2px solid rgb(106, 34, 34); */

}
/* .page-header{
    grid-area: header;
    display: flex;
    justify-self: center;
} */
.page-container{
    grid-area: main;
    display: flex;
    justify-self: center;
    
    width: 60%;
    border-radius: 10px;
    padding-left: 20px;
    box-shadow: 2px 2px 10px 3px rgb(217, 160, 106);
    background-color: rgba(244, 229, 224, 0.3);
    border: 2px solid rgb(233, 128, 128);
}



.login{
    width:100%;
}

.login__box-title{
    margin-top: 40px;
    align-self: center;

}
.login__box-info{
    font-weight: bold;
    font-size: 20px; 
    align-self:flex-start;
    /* border: 1px solid red; */

}

.login__box{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    
 
}
.login-text{
    border-radius: 10px;
    border: 1px solid rgba(255, 208, 163,0.7);
    padding: 10px;
    outline:none;
    /* background-color: transparent; */
}

.login__note{
    display:flex;
    align-items: center;
    /* border: 1px solid green; */
    height: 50px;
    /* margin-left: 16px; */
    justify-content: space-around;

}

.login__note-checkbox {
    flex: 0;
}

.login__note-text{
    flex:1;
}


.login__box-btn{
    font-size: 20px;
    /* align-self:center; */
    border-radius: 10px;
    border: 1px solid rgb(255, 208, 163);
    background-color: rgb(255, 217, 168);
    flex-basis: 40px;
    margin-bottom: 5px;
}
.login__box-btn:hover{
    background-color: rgb(255, 68, 0);
    color: white;
    cursor: pointer;
}
.login__box-sign-in, 
.login__box-or{
    text-align: center; 
    align-self:center;
    /* border: 1px solid green; */
    padding: 15px;
    margin:0;
    color:gray;
    
}
.login__box-or{
    color:gray;
}
.login__box-google,
.login__box-facebook{
    /* margin-right: 50px; */
    text-decoration: none;
    color:rgb(246, 118, 118);
    text-align: center; 
    align-self:center;
    
}

.login__note-forgot-psw, .signin-link{
    color:rgb(246, 118, 118);
}
.login__box-google:hover, 
.login__box-facebook:hover,
.login__note-forgot-psw:hover,
.signin-link:hover{
    color:rgba(255, 115, 0, 0.895);
}

.swap__image{
   width: 130%;
    position:relative;
    align-self: center;
    display:flex;
    justify-content: center;
    /* border: 1px solid rgb(69, 18, 18); */
}

.swap__image1, .swap__image2{
    border-radius: 40px;
    opacity: 1.0;
    transition: 1s ease-in-out;
    padding:0;
    margin:0;

  
}
.swap__image1{
    position:absolute;
    width: 80%;
    
}
.swap__image2{
    width:72%;
    
}
.swap__image1:hover{opacity:0.0};
.swap__image2:hover{opacity:1.0};
/* .page-footer{
    grid-area: footer;
    justify-self: center;
} */